.signUp {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/SignUpBG.png);
    background-size: cover;
}

.signUpCont {
    width: 1000px;
    height: 650px;
    display: flex;
    background-color: transparent;
    position: relative;
    align-items: center;
}

.logoCont {
    width: 600px;
    height: 100%;
    background: linear-gradient(218deg, #5A5A5A -12.21%, #2E2E2E 118.72%);
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignUpForm {
    width: 500px;
    height: 550px;
    background-color: #d2d2d2;
    position: absolute;
    right: 0px;
    z-index: 1;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.LogoIcon{
    height: 400px;
}

.LogIn {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/SignUpBG.png);
    background-size: cover;
}

.logInCont {
    width: 1000px;
    height: 650px;
    display: flex;
    background-color: transparent;
    position: relative;
    align-items: center;
}

.LogInForm {
    width: 500px;
    height: 550px;
    background-color: #d2d2d2;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logInLogoCont {
    width: 600px;
    height: 100%;
    background: linear-gradient(218deg, #5A5A5A -12.21%, #2E2E2E 118.72%);
    position: absolute;
    border-radius: 15px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation for growing and shrinking the logo icon */
.LogoIcon {
    animation: growShrink 3s ease-in-out infinite;
}

@keyframes growShrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}