.music-player {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  border-radius: 20px 20px 0 0;
  background: rgba(38, 38, 38, 0.60);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(38, 38, 38, 0.65);
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-art {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 15px;
}

.cover-art-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.track-details {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.track-title {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

.track-artist {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
}

.favorite-icon {
  font-size: 1.5rem;
  color: #ddd;
  margin-left: 10px;
  cursor: pointer;
}

.favorite-icon.favorite {
  color: red;
}

.controls-time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.centered-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-icon {
  margin: 0 10px;
  cursor: pointer;
}

.time-info {
  display: flex;
  align-items: center;
  width: 600px;
  margin-top: 5px;
}

.seek-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 10px;
}

.seek-bar,
.volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #262626;
  outline: none;
  margin: 0 10px;
}

.seek-bar::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-runnable-track {
  background-color: #dbdbdb;
  height: 4px;
  border-radius: 5px;
}

.seek-bar::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #00FFFF;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4.5px;
}

.seek-bar::-moz-range-progress,
.volume-slider::-moz-range-progress {
  background-color: #00FFFF;
}

.seek-bar::-moz-range-track,
.volume-slider::-moz-range-track {
  background-color: #262626;
}

.seek-bar::-ms-fill-lower,
.volume-slider::-ms-fill-lower {
  background-color: #00FFFF;
}

.seek-bar::-ms-track,
.volume-slider::-ms-track {
  background-color: #262626;
  border-color: transparent;
  color: transparent;
  height: 4px;
  border-radius: 5px;
}

.volume-control {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.volume-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 5px;
}

.volume-slider {
  width: 80px;
  margin-right: 10px;
}

.fullscreen-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 20px;
}

/* Fullscreen Mode Styling */
.music-player.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-image: url(../assets/HomeBg.png);
  background-size: cover;
  border-radius: 0;
}

/* Left-aligned section with cover art and details in fullscreen */

.fullscreen .left-section{
  gap: 50px;
  align-items: end;
  position: absolute;
  left: 10%;
  top: 20%;
}


.fullscreen .cover-art {
  width: 300px;
  height: 300px;
  top: 20%;
  border-radius: 20px;
  left: 10%;
}

.fullscreen .track-details {
  top: 20%;
  left: 30%;
  color: #fff;
  text-align: left;
}

.fullscreen .track-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.fullscreen .track-artist {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
}

.fullscreen .favorite-icon {
  font-size: 3rem;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

/* Centered controls in fullscreen */
.fullscreen .controls-time-container {
  position: relative;
  top: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.fullscreen .centered-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.fullscreen .control-icon{
  font-size: 2rem;
}

.fullscreen .time-info {
  max-width: 700px;
  margin-top: 20px;
  font-size: 1.2rem;
}

.fullscreen .seek-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 10px;
}

.fullscreen .volume-control {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  align-items: center;
}


